/*

    Name:       tradr
    Author:     Jakob Lilliemarck

*/
@import "../custom.scss";


.CodeMirror {
  font-family: monospace;
  height: 350px;
  background: $primary;
  color: $gray-1;
  font-size: .8rem;
  @include media-breakpoint-up("sm") {
    height: 600px;
    border-radius: .75rem;
    font-size: 1rem;
  }
}

.CodeMirror-scroll {
  overflow: auto;
}

.CodeMirror-lines {
  padding: 1rem 0;
}
.CodeMirror pre {
  padding: 0 .75rem;
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: $primary;
}

.CodeMirror-gutters {
  border-right: 0px solid lighten($primary, 5%);
  margin-left: 3px;
  background-color: $primary;
  white-space: nowrap;
}

.CodeMirror-linenumbers {
  background-color: darken($primary, 5%);
}

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: lighten($primary, 5%);
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid $gray-1;
  z-index: 3;
}

.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
  z-index: 1;
}

.CodeMirror div.CodeMirror-cursor.CodeMirror-overwrite {}

.cm-tab {
  display: inline-block;
}

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}

.cm-s-tradr span.cm-keyword {color: lighten($primary, 60%);}
.cm-s-tradr span.cm-def {color: $secondary;}
.cm-s-tradr span.cm-comment {color: $gray-3}
.cm-s-tradr span.cm-string {color: lighten($primary, 40%);}
.cm-s-tradr span.cm-variable,
.cm-s-tradr span.cm-punctuation,
.cm-s-tradr span.cm-property,
.cm-s-tradr span.cm-operator { color: white; }
.cm-s-tradr span.cm-number {color: lighten($secondary, 20%);}
.cm-s-tradr div.CodeMirror-selected { background: darken($primary, 5%);}
