<template lang="html">
  <div>
    <h1>Tradr</h1>
    <component :is="component" @toggle="onToggle"/>
  </div>
</template>


<script>
import UserSignIn from "@/components/UserSignIn.vue";
import UserRegister from "@/components/UserRegister.vue";

export default {
  data() {
    return {
      component: "user-sign-in",
    };
  },
  components: {
    UserSignIn,
    UserRegister,
  },
  methods: {
    onToggle(evt, component) {
      this.component = component
    },
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";

h1 {
  margin-bottom: 2rem;
  border-bottom: 1px solid $gray-3;
  padding-bottom: 1rem;
  font-size: $logo-font-size;
  text-align: center;
  color: $primary;
}
div {
  padding: 1rem;
  width: 100%;
  @include media-breakpoint-up("sm") { // on larger screens
    width: 350px;
  }
}
</style>
