<template>
  <div style="padding: 2rem;">

    <h2 class="text-center">
      Introduction
    </h2>

    <h3>Summary</h3>
    <p>

    </p>

    <h3>Watchlist</h3>
    <p>

    </p>

    <h3>Strategies</h3>
    <p>

    </p>

    <h3>Simulations</h3>
    <p>

    </p>

  </div>
</template>


<script>
</script>
