<template>
  <base-container>
    <!--Menu-->
    <div class="menu">
      <!--Select-->
      <b-form>
        <b-form-select
        :size="$mq === 'sm' ? 'sm' : 'md'"
        v-model="simulation_id"
        :options="simulationOptions">
          <template v-slot:first>
            <b-form-select-option :value="null" disabled>
              Select simulation
            </b-form-select-option>
          </template>
        </b-form-select>
      </b-form>
      <!--Create-->
      <b-button
      :size="$mq === 'sm' ? 'sm' : 'md'"
      variant="primary"
      v-b-modal.simulation-create-modal>
        New
      </b-button>
      <simulation-create-modal @new="onNew"/>
    </div>

    <hr>

    <!--Chart-->
    <div class="full-width">
      <!--simulationLineChart-->
      <simulation-line-chart
      v-if="data"
      :data="data"
      :width="null"
      :height="null"/>
      <!--No-data states-->
      <div v-else class="no-chart">
        <div class="no-chart-content">
          <!--Failed-->
          <h6 v-if="simulation && simulation.status === 'FAILURE'" variant="warning">
            Your simulation has failed :'( please verify your code.
          </h6>
          <!--Waiting for data-->
          <b-spinner v-else-if="!data" class="spinner" variant="primary" label="Progress"/>
          <!--Empty state-->
          <div v-else>
            <h6>Select or create a simulation.</h6>
          </div>
        </div>
      </div>
    </div>

    <div v-if="simulation">
      <hr>
      <!--Metadata-->
      <base-table-vertical
      :item="simulation"/>
      <hr>
      <!--Delete-->
      <base-delete-button
      :item="simulation"
      resourceType="simulation"
      @delete="onDelete"/>
    </div>

  </base-container>
</template>


<script>
import BaseContainer from "@/components/BaseContainer.vue";
import SimulationCreateModal from "@/components/SimulationCreateModal.vue";
import SimulationLineChart from "@/components/SimulationLineChart.js";
import BaseTableVertical from "@/components/BaseTableVertical.vue";
import BaseDeleteButton from "@/components/BaseDeleteButton.vue";
import { mapGetters, mapState } from "vuex";

/*
TODO:
  - Fix broken spinner on load and wait. Perhaps need to modify createItem in store (makeStore)
*/

export default {
  name: "simulation",
  components: {
    BaseContainer,
    SimulationCreateModal,
    SimulationLineChart,
    BaseTableVertical,
    BaseDeleteButton,
  },
  props: [ "id" ],
  data() {
    return {
      simulation_id: this.id,
      data: null,
    };
  },
  computed: {
    ...mapGetters("lab/simulation", [ "getItem", "getFormSelect" ]),
    ...mapState("lab/simulation", [ "items" ]),
    simulation() {
      if (this.id &&
        Object.keys(this.items).includes(this.id.toString())) {
          return this.getItem(this.id);
      };
      return null;
    },
    simulationOptions() {
      return this.getFormSelect("name");
    },
  },
  watch: {
    simulation_id(id) {
      this.$router.push({ name: "simulation", params: { id: id } });
    },
    simulation() {
      if (!this.simulation) { return };
      let data = this.$store.dispatch("lab/simulation/charts/readDefault2", this.simulation);
      data.then((data) => { this.data = data });
    },
  },
  methods: {
    onDelete() {
      this.simulation_id = null;
    },
    onNew(id) {
      this.simulation_id = id;
    },
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";
.menu {
  display: flex;
}
div.menu > *:not(:last-child) {
  margin-right: 1rem;
  width: 100%;
}
.full-width {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  @include media-breakpoint-up("sm") { // on larger screens
    margin: 0 2rem;
  }
}
.no-chart {
  background-color: $gray-2;
  width: 100%;
  padding-top: calc(100% / calc(8 / 7)); /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  @include media-breakpoint-up("sm") { // on larger screens
    padding-top: calc(100% / calc(5 / 2));
  }
}
.no-chart-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 1rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.spinner {
  color: lighten($primary, 50%);
  @include media-breakpoint-up("sm") { // on larger screens
    width: 3rem;
    height: 3rem;
  }
}
</style>
