<template>
  <base-container>
    <!--Menu-->
    <div class="menu">
      <!--Select-->
      <b-form>
        <b-form-select
        :size="$mq === 'sm' ? 'sm' : 'md'"
        v-model="script_id"
        :options="scriptOptions">
          <template v-slot:first>
            <b-form-select-option :value="null" disabled>
              Select script
            </b-form-select-option>
          </template>
        </b-form-select>
      </b-form>
      <!--Create-->
      <b-button
      :size="$mq === 'sm' ? 'sm' : 'md'"
      variant="primary"
      v-b-modal.strategy-create-modal>
        New
      </b-button>
      <strategy-create-modal @new="onNew"/>
    </div>

    <hr>

    <strategy-editor :item="script" class="full-width"/>

    <div v-if="script">
      <hr>
      <!--Metadata-->
      <base-table-vertical
      :item="script"/>
      <hr>
      <!--Delete-->
      <base-delete-button
      :item="script"
      resourceType="script"
      @delete="onDelete"/>
    </div>

  </base-container>
</template>


<script>
import BaseContainer from "@/components/BaseContainer.vue";
import StrategyCreateModal from "@/components/StrategyCreateModal.vue";
import StrategyEditor from "@/components/StrategyEditor.vue";
import BaseTableVertical from "@/components/BaseTableVertical.vue";
import BaseDeleteButton from "@/components/BaseDeleteButton.vue";
import { mapGetters, mapState } from "vuex";

export default {
  name: "strategy",
  components: {
    BaseContainer,
    StrategyCreateModal,
    StrategyEditor,
    BaseTableVertical,
    BaseDeleteButton
  },
  props: [ "id" ],
  data() {
    return {
      script_id: this.id
    };
  },
  computed: {
    ...mapGetters("lab/script", [ "getItem", "getFormSelect" ]),
    ...mapState("lab/script", [ "items" ]),
    script() {
      if (this.id &&
          Object.keys(this.items).includes(this.id.toString())) {
        return this.getItem(this.id);
      };
    },
    scriptOptions() {
      return this.getFormSelect("name")
    },
  },
  watch: {
    script_id(id) {
      this.$router.push({ name: "strategy", params: { id: id } });
    },
  },
  methods: {
    onDelete() {
      this.script_id = null;
    },
    onNew(id) {
      this.script_id = id;
    },
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";
.menu {
  display: flex;
}
div.menu > *:not(:last-child) {
  margin-right: 1rem;
  width: 100%;
}
.full-width {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  @include media-breakpoint-up("sm") { // on larger screens
    margin: 0 2rem;
  }
}
</style>
