<template>
  <b-container class="sheet">
    <base-nav-tabs v-if="links" :links="links"/>
    <router-view/>
  </b-container>
</template>


<script>
import BaseNavTabs from "@/components/BaseNavTabs.vue";

export default {
  name: "tradr-sheet",
  components: { BaseNavTabs },
  props: { links: { type: Array, default: null } },
}
</script>

<style lang="scss" scoped>
@import "src/custom.scss";
.sheet {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $gray-1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .2);
  @include media-breakpoint-up("sm") { // on larger screens
    margin: 3rem;
    padding-bottom: 2rem;
  }
}
</style>
