<template>
  <base-container>

    <div class="text-center">
      <h4>Actions</h4>
      <hr>
      <watchlist-summary-todo/>
    </div>

    <div class="text-center">
      <h4>Overview</h4>
      <hr>
      <watchlist-summary-doughnut-chart :data="data"/>
    </div>

  </base-container>
</template>


<script>
import BaseContainer from "@/components/BaseContainer.vue";
import WatchlistSummaryTodo from "@/components/WatchlistSummaryTodo.vue";
import WatchlistSummaryDoughnutChart from "@/components/WatchlistSummaryDoughnutChart.js";

export default {
  name: "watchlist-summary",
  components: {
    BaseContainer,
    WatchlistSummaryTodo,
    WatchlistSummaryDoughnutChart
  },
  computed: {
    data() {
      const items = this.$store.getters["lab/watch/getItemsArray"]
      console.log(items);
      return items.reduce((map, item) => {
        const signal = item.script
        ? item.signal
        ? item.signal
        : "hold"
        : "unassigned"
        return { ...map, [signal]: (map[signal] || 0) + 1 }
      }, { buy: 0, sell: 0, hold: 0, unassigned: 0 });
    },
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";

div.text-center:not(:last-child) {
  margin-bottom: 7rem;
}
div h4 {
  margin: 1.25rem;
  font-weight: bold;
}
div hr {
  margin: auto;
  @include media-breakpoint-up("sm") { // on larger screens
    max-width: 400px;
  }
}
</style>
