<template>
  <base-container>
    <watchlist-details-create-form/>
    <watchlist-details-table class="full-width"/>
  </base-container>
</template>


<script>
import BaseContainer from "@/components/BaseContainer.vue";
import WatchlistDetailsCreateForm from '@/components/WatchlistDetailsCreateForm.vue';
import WatchlistDetailsTable from '@/components/WatchlistDetailsTable.vue';

export default {
  name: "watchlist-summary",
  components: {
    BaseContainer,
    WatchlistDetailsCreateForm,
    WatchlistDetailsTable,
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";
.full-width {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  @include media-breakpoint-up("sm") { // on larger screens
    margin: 0 2rem;
  }
}
</style>
