<template>
  <div>
    <b-button
    size="sm"
    variant="outline-secondary"
    v-b-modal.resource-delete-modal
    :block="$mq === 'sm'">
      Delete
    </b-button>

    <b-modal
    id="resource-delete-modal"
    :title="title"
    @ok.prevent="onOk"
    @show="resetForm"
    @shown="onShown">
      <p>Type "DELETE" to permanently delete this {{ resourceType }}.</p>

      <b-form
      ref="form"
      @keydown.enter.prevent="onOk">
        <b-form-group>
          <b-form-input
          ref="password"
          v-model="$v.form.password.$model"
          :state="validateState('password')"
          placeholder="DELETE"
          trim/>

          <b-form-invalid-feedback>
            You must input 'DELETE' to proceed deletion.
          </b-form-invalid-feedback>
        </b-form-group>
      </b-form>

      <template v-slot:modal-footer="{ ok }">
        <b-button
        block
        variant="outline-secondary"
        @click="ok()">
          Delete
        </b-button>
      </template>

    </b-modal>
  </div>
</template>


<script>
import { required, sameAs } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      form: {
        password: null,
      },
    };
  },
  validations: {
    form: {
      password: { required, sameAs: sameAs(() => "DELETE")}
    },
  },
  props: {
    resourceType: String,
    item: Object,
  },
  computed: {
    title: function() {
      return "Delete " + this.resourceType;
    },
  },
  methods: {
    onShown() {
      this.$refs.password.focus()
    },
    onOk() {
      this.onSubmit()
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form.password = null
      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this.$store.dispatch(`lab/${this.resourceType}/deleteItem`, this.item)
      .then(response => {
        this.$setAlert({
          message: `${this.resourceType} successfully deleted.`,
          variant: "primary"
        });
        this.$emit("delete")
        this.$nextTick(() => {
          this.$bvModal.hide("resource-delete-modal")
        });
      }, err => {
        this.$setAlert({
          message: `Error deleting ${this.resourceType}.`,
          variant: "secondary"
        })
      })
      this.resetForm()
    },
  },
}
</script>
