<template lang="html">
  <div>
    <b-table-simple v-if="item">
      <b-tr v-for="(value, key) in filtered">
        <b-th>{{ key }}</b-th>
        <b-td>{{ value }}</b-td>
      </b-tr>
    </b-table-simple>
  </div>
</template>


<script>
export default {
  data() {
    return {
    };
  },
  props: {
    item: { type: Object, default: null },
  },
  computed: {
    filtered() {
      return Object.keys(this.item)
      .filter(key => !key.startsWith("_")) //this.keys.includes(key)
      .reduce((obj, key) => {
        return { ...obj, [key]: this.item[key] };
      }, {});
    },
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";
table {
  margin: 0;
}
tr th, td:not(last-child) {
  font-size: .8rem;
  padding: .25rem !important;
  border-top: 0 !important;
  border-bottom: .25rem solid $gray-1;
  @include media-breakpoint-up("sm") { // on larger screens
    padding: .5rem !important;
  }
}
th {
  border-right: .25rem solid $gray-1;
  background-color: $gray-2;
  color: $primary;
}
td {
  color: $primary;
  background: $gray-2;
}

</style>
