<template>
  <div class="navtabs">
    <router-link
    v-for="(link, i) in links"
    :to="link"
    :style="`--width: ${tabWidth}%`"
    active-class="active-tab">
      {{ link.name | capitalize }}
    </router-link>
  </div>
</template>


<script>
export default {
  name: "nav-tabs",
  props: {
    links: Array,
  },
  computed: {
    tabWidth() {
      return 100 / this.links.length;
    },
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";

.navtabs {
  width: 100%;
  background-color: $primary;
  overflow: auto;
}
.navtabs a {
  padding: .5rem;
  font-size: .8rem;
  float: left;
  color: $gray-1;
  text-decoration: none;
  --width: 50%;
  width: var(--width);
  text-align: center;
  @include media-breakpoint-up("sm") { // on larger screens
    padding: 1.2rem;
    font-size: 1rem;
  }
}
.navtabs a:hover {
  background-color: darken($primary, 15%);
  color: $gray-1 !important;
  outline: 0;
}
.active-tab,
.navtabs a:active {
  background-color: $gray-1;
  color: $secondary !important;
  outline: 0;
}

</style>
