<template>
  <div class="wrapper">
    <slot/>
  </div>
</template>

<style lang="scss" scoped>
@import "src/custom.scss";
.wrapper {
  padding-top: 1rem;
  @include media-breakpoint-up("sm") { // on larger screens
    padding-top: 2rem;
  }
}
td > div.wrapper {
  padding: 0;
  margin: 0;
}
div.wrapper > *:not(.full-width) {
  margin: 1rem;
  margin-top: 0;
  @include media-breakpoint-up("sm") { // on larger screens
    margin: 2rem;
    margin-top: 0;
  }
}
div.wrapper > *:last-child:not(.full-width) {
  margin: 1rem;
  margin-top: 0;
  margin-bottom: 1rem; // used to be 2
  @include media-breakpoint-up("sm") { // on larger screens
    margin: 2rem;
    margin-top: 0;
    margin-bottom: 3rem;
  }
}
</style>
