<template lang="html">
  <b-modal
  id="simulation-create-modal"
  title="Create new simulation"
  @ok.prevent="onOk"
  @show="resetForm"
  @shown="onShown">

    <b-form
    ref="form"
    @keydown.enter.prevent="onOk">
      <b-form-group>
        <b-form-input
        ref="name"
        v-model="$v.form.name.$model"
        :state="validateState('name')"
        placeholder="mySimulation"
        trim/>
        <b-form-invalid-feedback>
          A simulation name of between 3 and 32 characters is required.
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group>
        <b-form-select
        v-model="$v.form.script_id.$model"
        :state="validateState('script_id')"
        :options="scripts">
          <template v-slot:first>
            <b-form-select-option :value="null" disabled>
              Select strategy.
            </b-form-select-option>
          </template>
        </b-form-select>
        <b-form-invalid-feedback>
          This is an required field.
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group>
        <b-form-select
        v-model="$v.form.symbol_id.$model"
        :state="validateState('symbol_id')"
        :options="symbols">
          <template v-slot:first>
            <b-form-select-option :value="null" disabled>
              Select symbol
            </b-form-select-option>
          </template>
        </b-form-select>
        <b-form-invalid-feedback>
          This is an required field.
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group>
        <b-form-input
        v-model="$v.form.start.$model"
        :state="validateState('start')"
        type="date"/>
        <b-form-invalid-feedback>
          A start date is required and must come before stop date.
        </b-form-invalid-feedback>
      </b-form-group>

      <b-form-group>
        <b-form-input
        v-model="$v.form.stop.$model"
        :state="validateState('stop')"
        type="date"/>
        <b-form-invalid-feedback>
          A stop date is required and must come after start date.
        </b-form-invalid-feedback>
        </b-form-group>
    </b-form>

    <template v-slot:modal-footer="{ ok }">
      <b-button
      block
      variant="outline-primary"
      @click="ok()">
        Submit
      </b-button>
    </template>

  </b-modal>
</template>



<script>
import { required, minLength, maxLength } from "vuelidate/lib/validators";

const minStart = (value, vm) => vm.stop != null ? vm.stop > value : true
const minStop = (value, vm) => vm.start != null ? vm.start < value : true

export default {
  name: "simulation-create-modal",
  data() {
    return {
      form: {
        name: "",
        script_id: null,
        symbol_id: null,
        start: null,
        stop: null,
      },
    };
  },
  validations: {
    form: {
      name: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(32),
      },
      script_id: { required },
      symbol_id: { required },
      start: { required, minStart },
      stop: { required, minStop },
    },
  },
  computed: {
    scripts() {
      return this.$store.getters["lab/script/getFormSelect"]("name");
    },
    scriptNames() {
      return this.scripts.map((script) => script.text);
    },
    symbols() {
      return this.$store.getters["lab/symbol/getFormSelect"]("id");
    },
  },
  methods: {
    onShown() {
      this.$refs.name.focus()
    },
    onOk() {
      this.onSubmit()
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form = {
        name: null,
        script_id: null,
        symbol_id: null,
        start: null,
        stop: null,
      };
      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this.$store.dispatch("lab/simulation/createItem", this.form)
      .then(response => {
        this.$emit("new", response.data.id);
        this.$setAlert({
          message: "New simulation successfully created.",
          variant: "primary"
        })
      }, err => {
        this.$setAlert({
          message: "Error creating new simulation.",
          variant: "secondary"
        })
      })
      this.$nextTick(() => {
        this.$bvModal.hide("simulation-create-modal")
      });
    }
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";
div > button {
  white-space: nowrap;
}
</style>
