<template>
  <div>
    <b-alert
    class="snackbar"
    v-for="alert in alerts"
    :key="alert.id"
    :variant="alert.variant"
    :show="dismissCountDown(alert)"
    @dismissed="deleteAlert(alert)"
    dismissible
    fade>
      {{ alert.message | capitalize }}
    </b-alert>
  </div>
</template>


<script>
export default {
  name: "snackbar",
  computed: {
    alerts() {
      return this.$store.getters["snackbar/alerts"];
    },
  },
  methods: {
    dismissCountDown(alert) {
      return alert.duration
    },
    deleteAlert(alert) {
      this.$deleteAlert(alert);
    },
  },
};
</script>


<style lang="scss" scoped>
@import "src/custom.scss";
.snackbar {
  position: fixed;
  margin: 0 auto;
  bottom: 1rem;
  left: 0;
  right: 0;
  width: calc(100% - 2rem);
  @include media-breakpoint-up("sm") { // on larger screens
      max-width: 600px
  }
}
</style>
