<template>
  <div>
    <b-form
    @submit.prevent="onSubmit"
    @keydown.ctrl.s.prevent="onSubmit">
      <!--Codemirror-->
      <codemirror
      ref="codemirror"
      v-model="source"
      :options="cmOptions"/>

      <div class="menu">
        <!--Commit-->
        <b-button
        :block="$mq === 'sm'"
        size="sm"
        variant="primary"
        @click="onSubmit">
          Save
        </b-button>
        <!--Versions-->
        <b-form-select
        id="form-version-select"
        size="sm"
        v-model="version_id"
        :options="versions"
        @change="onChange">
          <template v-slot:first>
            <b-form-select-option :value="null" disabled>
              {{ item ? `Select version of ${item.name}` : "No strategy selected" }}
            </b-form-select-option>
          </template>
        </b-form-select>
      </div>
    </b-form>
  </div>
</template>


<script>
import { codemirror } from "vue-codemirror";
import "codemirror/lib/codemirror.css";
import "codemirror/mode/python/python.js"
import "@/styles/cmTradr.scss";

export default {
  data: () => ({
    version_id: null,
    noSource: "\"\"\"\r\nSelect or create a strategy!\r\n\r\nNew to Tradr?\r\nDocs coming soon at:\r\nhttps://tradr.com/docs\r\n\"\"\"",
    defaultSource: "\r\n\r\ndef buy(**kwargs):\r\n\treturn # return true to signal buy\r\n\r\n\r\ndef sell(**kwargs):\r\n\treturn # return true to signal sell\r\n",
    cmOptions: {
      tabSize: 4,
      mode: "text/x-python",
      theme: "tradr",
      lineNumbers: true,
      line: true,
    },
  }),
  props: {
    item: Object,
  },
  components: {
    codemirror,
  },
  computed: {
    versions() {
      if (this.item) {
        return  this.$store.getters["lab/script/versions/getFormSelect"](this.item.id, "updated")
      }
    },
    source: {
      get() {
        if (!this.item) {
          return this.noSource;
        }
        else if (this.item.source == null) {
          return this.defaultSource;
        }
        return this.item.source;
      },
      set(source) {
        if (this.item) {
          this.$store.commit(
            "lab/script/setItem",
            {...this.item, ...{ source: source } }
          );
        }
      },
    },
  },
  watch: {
    item() {
      if (this.item) {
        this.$store.dispatch(
          "lab/script/versions/readVersions",
          { url: this.item._links.versions }
        );
      }
    },
  },
  methods: {
    onSubmit: function() {
      if (!this.item) {
        return;
      }
      this.$store.dispatch("lab/script/updateItem", { ...this.item, ...{ source: this.source} })
      .then(response => {
        this.$setAlert({
          message: "Strategy successfully saved",
          variant: "primary"
        })
      }, err => {
        this.$setAlert({
          message: "Error saving strategy.",
          variant: "secondary"
        })
      })
    },
    onChange({id, transaction_id}) {
      const version = this.$store.getters["lab/script/versions/getVersion"](id)(transaction_id)
      this.source = version.source;
    },
  }
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";
div *:not(:last-child) {
  margin-bottom: 1rem;
}
div .menu {
  padding: 0 1rem;
  @include media-breakpoint-up("sm") { // on larger screens
    display: flex;
    padding: 0;
  }
}
div .menu *:not(:last-child) {
  @include media-breakpoint-up("sm") { // on larger screens
    margin-right: 1rem;
  }
}
</style>
