<template lang="html">
  <b-modal
  id="strategy-create-modal"
  title="Create new strategy"
  @ok.prevent="onOk"
  @show="resetForm"
  @shown="onShown">

    <b-form
    ref="form"
    @keydown.enter.prevent="onOk">
      <b-form-group>
        <b-form-input
        ref="name"
        v-model="$v.form.name.$model"
        :state="validateState('name')"
        placeholder="myStrategy"
        trim/>

        <b-form-invalid-feedback>
          A strategy name of between 3 and 32 characters is required.
        </b-form-invalid-feedback>
      </b-form-group>
    </b-form>

    <template v-slot:modal-footer="{ ok }">
      <b-button
      block
      variant="outline-primary"
      @click="ok()">
        Create strategy
      </b-button>
    </template>
  </b-modal>
</template>



<script>
import { required, minLength, maxLength } from "vuelidate/lib/validators";
export default {
  name: "strategy-create-button",
  data() {
    return {
      form: {
        name: null,
      },
    };
  },
  validations: {
    form: {
      name: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(32)
      },
    },
  },
  methods: {
    onShown() {
      this.$refs.name.focus()
    },
    onOk() {
      this.onSubmit()
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form = {
        name: null,
      };
      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this.$store.dispatch("lab/script/createItem", this.form)
      .then(response => {
        this.$emit("new", response.data.id);
        this.$setAlert({
          message: "New strategy successfully created.",
          variant: "primary"
        })
      }, err => {
        this.$setAlert({
          message: "Error creating new strategy.",
          variant: "secondary"
        })
      })
      this.$nextTick(() => {
        this.$bvModal.hide("strategy-create-modal")
      });
    }
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";
div > button {
  white-space: nowrap;
}
</style>
