<template lang="html">
  <footer class="footer">
    <b-container fluid text-center>
      <small>&copy;Tradr</small>
    </b-container>
  </footer>
</template>


<style scoped lang="scss">
@import "src/custom.scss";
.footer {
  min-height: 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  border-top: 1px solid $gray-3;
  background-color: $gray-1;
  @include media-breakpoint-up("sm") { // on larger screens
    min-height: 3rem;
    background-color: $gray-2;
  }
}
</style>
