<template lang="html">
  <header>
    <b-navbar
    toggleable="md"
    class="t-navbar"
    type="light"
    variant="light">
      <b-navbar-brand to="/watchlist">
        Tradr
      </b-navbar-brand>

      <div class="vertical"/>

      <b-navbar-toggle
      target="nav-collapse"/>

      <b-collapse
      id="nav-collapse"
      is-nav>
        <b-navbar-nav>
          <b-nav-item
          v-for="(value, key) in views"
          :active="key == current"
          :disabled="value.disabled"
          :to="`/${key}`"
          @click="onClick(key)">
            {{ key | capitalize }}
          </b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav
        class="ml-auto">
          <!--Account-->
          <b-nav-item
          v-b-modal.user-settings-modal>
            Account
          </b-nav-item>
          <!--Sign out-->
          <b-nav-item
          @click="onLogout">
            Sign out
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>

    </b-navbar>
    <user-settings-modal/>
  </header>
</template>


<script>
import UserSettingsModal from "./UserSettingsModal.vue";

export default {
  name: "TheNavbar",
  data() {
    return {
      current: "watchlist",
      views: {
        watchlist: {},
        lab: {},
        docs: {}, //{ disabled: true },
      }
    };
  },
  components: {
    UserSettingsModal,
  },
  methods: {
    onLogout() {
      this.$store.dispatch("user/logout");
    },
    onClick(view) {
      this.current = view;
    },
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";

.t-navbar {
  border-bottom: 1px solid $gray-3;
}
.vertical {
  @include media-breakpoint-up("sm") { // on larger screens
      border-left: 1px solid $gray-3;
      height: 3rem;
  }
}
.nav-item .active {
  outline: 0 !important;
}
</style>
