<template>
  <b-modal
  id="user-password-reset-modal"
  title="Password reset"
  @ok.prevent="onOk"
  @show="resetForm"
  @shown="onShown">

  <p>Submit your registerd email to reset your password. A temporary password will be mailed to you.</p>
  <br>

    <b-form
    ref="form"
    @keydown.enter.prevent="onOk">

      <b-form-group>
        <b-form-input
        ref="email"
        v-model="$v.form.email.$model"
        :state="validateState('email')"
        :formatter="(value) =>  value.toLowerCase()"
        placeholder="Email"
        trim/>
      </b-form-group>

      <b-form-invalid-feedback>
        You must provide a valid email address.
      </b-form-invalid-feedback>
    </b-form>

    <template v-slot:modal-footer="{ ok }">
      <b-button
      block
      variant="outline-primary"
      @click="ok()">
        Reset password
      </b-button>
    </template>

  </b-modal>
</template>


<script>
import { required, email } from "vuelidate/lib/validators";
export default {
  name: "auth-password-reset-modal",
  data() {
    return {
      form: {
        email: "",
      },
    };
  },
  validations: {
    form: {
      email: { required, email },
    },
  },
  methods: {
    onShown() {
      this.$refs.email.focus()
    },
    onOk() {
      this.onSubmit()
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form = {
        email: null,
      };
      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this.$store.dispatch("user/resetUser", this.form)
      .then(response => {
        this.$setAlert({
          message: "You've been sent a new password",
          variant: "primary"
        })
      }, err => {
        this.$setAlert({
          message: err.response.data.msg,
          variant: "secondary"
        })
      })
      this.$nextTick(() => {
        this.$bvModal.hide("user-password-reset-modal")
      });
    },
  },
}
</script>
