<template>
  <b-modal
  id="terms-modal"
  title="Terms of Service">

    Some terms of service..

    <template v-slot:modal-footer="{ close }">
      <b-button
      block
      @click="close()"
      variant="outline-primary">
        Close
      </b-button>
    </template>

  </b-modal>
</template>


<script>
export default {
  name: "terms-modal",
  data() {
    return {};
  },
}
</script>
