<template lang="html">
  <b-form
  ref="form"
  @submit.prevent="onSubmit"
  @keydown.enter.prevent="onSubmit">

    <!--Email-->
    <b-form-group>
      <b-form-input
      ref="email"
      v-model="$v.form.email.$model"
      :state="validateState('email')"
      :formatter="(value) =>  value.toLowerCase()"
      placeholder="Email"
      trim/>

      <b-form-invalid-feedback>
        You must provide a valid email address.
      </b-form-invalid-feedback>
    </b-form-group>

    <!--Password-->
    <b-form-group>
      <b-form-input
      v-model="$v.form.password.$model"
      :state="validateState('password')"
      type="password"
      placeholder="Password"
      trim/>

      <b-form-invalid-feedback>
        Password must be between 8 and 16 charachters.
      </b-form-invalid-feedback>
    </b-form-group>

    <!--Voucher-->
    <b-form-group>
      <b-form-input
      v-model="$v.form.voucher.$model"
      :state="validateState('voucher')"
      placeholder="Voucher"
      trim/>

      <b-form-invalid-feedback>
        You must provide a valid voucher code.
      </b-form-invalid-feedback>
    </b-form-group>

    <!--Terms-->
    <b-form-group>
      <b-form-checkbox
      name="terms"
      v-model="$v.form.terms.$model"
      value="true"
      unchecked-value="false"
      required>
        <small>
          I accept the
          <b-link
          href="#"
          v-b-modal.terms-modal>
            Terms of Service
          </b-link>
        </small>
      </b-form-checkbox>

    </b-form-group>

    <!--Submit-->
    <b-form-group>
      <b-button
      block
      type="submit"
      variant="primary">
        Register
      </b-button>
    </b-form-group>

    <b-form-group>
      <small class="test">
        Already got an account?
        <!--Register-->
        <b-link
        href="#"
        @click="$emit('toggle', $event, 'user-sign-in')">
          Click here to sign in.
        </b-link>
      </small>
    </b-form-group>

    <user-terms-modal/>
  </b-form>
</template>

<script>
import UserTermsModal from "./UserTermsModal.vue";
import { required, email, minLength, maxLength } from "vuelidate/lib/validators";
import { helpers } from 'vuelidate/lib/validators'
const voucher = helpers.regex('voucher', /....-....-....-..../)
export default {
  name: "AuthRegister",
  data() {
    return {
      form: {
        email: null,
        password: null,
        voucher: null,
        terms: true,
      },
    };
  },
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(8),
        maxLength: maxLength(16)
      },
      voucher: {
        required,
        voucher
      },
      terms: { /*TODO: fix this*/
        required,
      },
    },
  },
  components: {
    UserTermsModal,
  },
  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form ={
        email: null,
        password: null,
        voucher: null,
        terms: true,
      }
      this.$refs.email.focus();
      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this.$store.dispatch("user/create", this.form)
      .then(response => {
        this.$setAlert({
          message: `${response.data.email} successfully registered.`,
          variant: "primary",
        })
      }, err => {
        this.$setAlert({
          message: err.response.data.msg,
          variant: "secondary",
        })
      })
      this.resetForm()
    },
  },
  mounted() {
    this.$refs.email.focus();
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";

small {
  color: $secondary;
}
a {
  color: $secondary;
  text-decoration: underline;
}
</style>
