<template>
  <b-modal
  id="user-settings-modal"
  title="Account settings"
  @ok.prevent="onOk"
  @show="resetForm">

    <b-form
    ref="form"
    @keydown.enter.prevent="onOk">

      <!--Email-->
      <b-form-group>
        <b-form-input
        v-model="$v.form.email.$model"
        :state="validateState('email')"
        :placeholder="email"
        :formatter="(value) =>  value.toLowerCase()"
        trim/>

        <b-form-invalid-feedback>
          You must provide a valid email address.
        </b-form-invalid-feedback>
      </b-form-group>

      <!--Password-->
      <b-form-group>
        <b-form-input
        v-model="$v.form.password.$model"
        :state="validateState('password')"
        type="password"
        placeholder="Password"
        trim/>

        <b-form-invalid-feedback>
          Password must be between 8 and 16 charachters.
        </b-form-invalid-feedback>
      </b-form-group>

      <!--Verify password-->
      <b-form-group>
        <b-form-input
        v-model="$v.form.verifyPassword.$model"
        :state="validateState('verifyPassword')"
        type="password"
        placeholder="Verify password"
        trim/>

        <b-form-invalid-feedback>
          Verify password must match password.
        </b-form-invalid-feedback>
      </b-form-group>

      <!--Notifications-->
      <b-form-group>
        <b-form-checkbox
        v-model="_notifications"
        value="1"
        unchecked-value="0">
          <small>
            I would like to recieve email notifications
          </small>
        </b-form-checkbox>
      </b-form-group>

    </b-form>
    <template v-slot:modal-footer="{ ok }">
      <b-button
      block
      variant="outline-primary"
      @click="ok()">
        Submit Settings
      </b-button>
    </template>
  </b-modal>
</template>


<script>
import { email, minLength, maxLength, sameAs, requiredIf } from "vuelidate/lib/validators";
import { mapState } from "vuex";
export default {
  name: "user-settings-modal",
  data() {
    return {
      form: {
        email: null,
        password: null,
        verifyPassword: null,
        notifications: null,
      },
    };
  },
  validations: {
    form: {
      email: {
        email
      },
      password: {
        minLength: minLength(8),
        maxLength: maxLength(16),
      },
      verifyPassword: {
        requiredIf: requiredIf('password'),
        sameAs: sameAs("password")
      },
    },
  },
  computed: {
    ...mapState("user", { email: "email", notifications: "notifications" }),
    _form() {
      return Object.fromEntries(
        Object.entries(this.form)
        .filter(entry => entry[1] != null)
      );
    },
    _notifications: {
      get() {
        return this.notifications
      },
      set(value) {
        this.form.notifications = value;
      },
    }
  },
  methods: {
    onOk() {
      this.onSubmit()
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form = {
        email: null,
        password: null,
        verifyPassword: null,
        notifications: null,
      };
      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    async onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      if (Object.keys(this._form).length > 0) {
        this.$store.dispatch("user/updateUser", this._form)
        .then(response => {
          this.$setAlert({
            message: "Your settings have been successfully updated.",
            variant: "primary",
          })
        }, err => {
          this.$setAlert({
            message: err.response.data.msg,
            variant: "secondary",
          })
        })
      } else {
        this.$setAlert({
          message: "No changes have been made to your settings",
          variant: "primary",
        })
      }
      this.$nextTick(() => {
        this.$bvModal.hide("user-settings-modal")
      });
    },
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";
small {
  color: $secondary;
}
a {
  color: $secondary;
  text-decoration: underline;
}
</style>
