<template lang="html">
  <b-form block
  ref="form"
  @submit.prevent="onSubmit"
  @keydown.enter.prevent="onSubmit">

    <!--Email-->
    <b-form-group>
      <b-form-input
      ref="email"
      v-model="$v.form.email.$model"
      :state="validateState('email')"
      :formatter="(value) =>  value.toLowerCase()"
      placeholder="Email"
      trim/>

      <b-form-invalid-feedback>
        You must provide a valid email address.
      </b-form-invalid-feedback>
    </b-form-group>

    <!--Password-->
    <b-form-group>
      <b-form-input
      v-model="$v.form.password.$model"
      :state="validateState('password')"
      type="password"
      placeholder="Password"
      trim/>

      <b-form-invalid-feedback>
        You must provide a password.
      </b-form-invalid-feedback>
    </b-form-group>

    <!--Reset password-->
    <b-form-group>
      <small>
        Forgot your password?
        <b-link
        href="#"
        v-b-modal.user-password-reset-modal>
          Click here to reset it.
        </b-link>
      </small>
    </b-form-group>

    <!--Submit-->
    <b-form-group>
      <b-button
      block
      type="submit"
      variant="primary">
        Sign in
      </b-button>
    </b-form-group>

    <!--Register link-->
    <b-form-group>
      <small class="test">
        Haven't got an account yet?
        <!--Register-->
        <b-link
        href="#"
        @click="$emit('toggle', $event, 'user-register')">
          Click here to register
        </b-link>
      </small>
    </b-form-group>

    <user-password-reset-modal/>
  </b-form>
</template>


<script>
import UserPasswordResetModal from "./UserPasswordResetModal.vue";
import { required, email } from "vuelidate/lib/validators";
export default {
  name: "user-sign-in",
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
    };
  },
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required,
      },
    },
  },
  components: {
    UserPasswordResetModal,
  },
  methods: {
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    resetForm() {
      this.form = {
        email: null,
        password: null,
      };
      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    onSubmit() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this.$store.dispatch("user/login", this.form)
      .then(response => {
        //No success response on login
      }, err => {
        this.$refs.email.focus();
        this.$setAlert({
          message: err.response.data.msg,
          variant: "secondary"
        })
      })
      this.resetForm();
    },
  },
  mounted() {
    this.$refs.email.focus();
  },
}
</script>


<style scoped lang="scss">
@import "src/custom.scss";

small {
  color: $secondary;
}
a {
  color: $secondary;
  text-decoration: underline;
}
</style>
