<template>
  <div>
    <b-form
    @submit.prevent="onSubmit"
    class="watchlist-add-form">

      <b-form-input
      v-model="form.symbol_id"
      :size="size"
      placeholder="Add to watchlist"/>

      <b-button
      :size="size"
      type="submit"
      variant="primary">
        +
      </b-button>
    </b-form>
  </div>
</template>


<script>
export default {
  name: "watchlist-create-form",
  data() {
    return {
      form: {
        symbol_id: null,
      },
    };
  },
  computed: {
    size() {
      return this.$mq === "sm" ? "md" : "lg";
    },
    scale() {
      return this.$mq === "sm" ? ".8" : "1.2";
    }
  },
  methods: {
    resetForm() {
      this.form = {
        symbol_id: null,
      };
    },
    onSubmit() {
      this.$store.dispatch("lab/watch/createItem", this.form)
      .then(response => {
        this.$setAlert({
          message: `${this.form.symbol_id} successfully added to watchlist.`,
          variant: "primary"
        })
      }, err => {
        if (err.response.status === 404) {
          this.$setAlert({
            message: `${this.form.symbol_id} is not currently available.`,
            variant: "secondary"
          })
        }
        else {
          this.$setAlert({
            message: "Something went wrong.",
            variant: "secondary"
          })
        }
      })
      .finally(this.resetForm);
    },
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";
form.watchlist-add-form {
  display: flex;
}
form.watchlist-add-form button {
  width: 1.8rem;
  height: 1.8rem;
  padding: 0;
  margin: auto;
  margin-left: -2.1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  @include media-breakpoint-up("sm") { // on larger screens
    width: 2.75rem;
    height: 2.75rem;
    margin-left: -3.1rem;
  }
}
</style>
