<template>
  <div>
    <b-table
    fixed
    class="watchlist-table"
    :items="watchlist"
    :fields="fields">

      <!--Show details button-->
      <template
      v-slot:cell(show_details)="row">
        <b-button
        :variant="row.detailsShowing ? 'primary' : 'outline-primary'"
        size="sm"
        @click="row.toggleDetails">
        <!--Button content on small screens-->
        <mq-layout mq="sm">
          <octicon
          scale=".9"
          name="eye"
          label="Show details"/>
        </mq-layout>
        <!--Button content on larger screens-->
        <mq-layout mq="md+">
          {{ row.detailsShowing ? 'Hide' : 'Show'}} Details
        </mq-layout>
        </b-button>
      </template>

      <!--Details-->
      <template
      v-slot:row-details="row">
        <watchlist-details-table-details :item="row.item"/>
      </template>

    </b-table>

    <b-button
    v-if="nextPageExist"
    block
    @click="onNext"
    variant="primary"
    style="margin-top: 2rem;">
      Load more
    </b-button>
  </div>
</template>


<script>
import BaseContainer from "@/components/BaseContainer.vue";
import WatchlistDetailsTableDetails from "@/components/WatchlistDetailsTableDetails.vue";
import { mapGetters, mapState } from "vuex";
import octicon from "vue-octicon/components/Octicon.vue";
import { eye } from "vue-octicon/icons";

export default {
  name: "watchlist-table",
  data() {
    return {
      data: null,
      fields: [
        { key: "symbol", sortable: true },
        { key:"signal", sortable: true},
        { key: "change", sortable: true},
        { label: "", key: "show_details", tdClass: "text-center" }],
    }
  },
  components: {
    BaseContainer,
    WatchlistDetailsTableDetails,
    octicon,
  },
  computed: {
    ...mapGetters("lab/watch", { watchlist: "getItemsArray", nextPageExist: "nextPageExist" }),
  },
  methods: {
    onNext() {
      this.$store.dispatch("lab/watch/nextPage");
    },
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";
table.watchlist-table {
  font-size: .8rem;
  @include media-breakpoint-up("sm") { // on larger screens
    font-size: 1rem;
  }
}
table.watchlist-table >>> thead tr th {
  border: 0;
}
table.watchlist-table >>> thead tr th:focus, th:active {
  outline: none;
}
table.watchlist-table >>> tbody tr td {
  vertical-align: middle;
}
table.watchlist-table >>> tbody tr.b-table-details td {
  padding: 0;
  margin: 0;
}
.full-width {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  @include media-breakpoint-up("sm") { // on larger screens
    margin: 0 2rem;
  }
}
table.watchlist-table button {
  @include media-breakpoint-down("sm") { // on smaller screens
    padding: 0;
    width: 1.65rem;
    height: 1.65rem;
    line-height: 1;
  }
  @include media-breakpoint-up("sm") { // on larger screens
    font-size: 1rem;
    min-width: 2rem;
  }
}
</style>
