<template lang="html">
  <div class="text-center">
    <!--Buy & sell lists-->
    <ul v-for="(items, action) in {buy: buy, sell: sell}"
    v-if="items.length > 0"
    :class="action === 'buy' ? 'todo buy' : 'todo sell'">
      <!--Sub-heading-->
      <h6 class="text-center">
        <small>
          {{ action | capitalize }}
        </small>
      </h6>
      <!--List-->
      <li v-for="item in items">
        {{ item.symbol }}
      </li>
    </ul>
    <h6 v-if="buy.length < 1 && sell.length < 1"
    class="text-center">
      <small>No actionable signals</small>
    </h6>
  </div>
</template>


<script>
export default {
  name: "watchlist-summary-todo",
  computed: {
    buy() {
      return this.$store.getters["lab/watch/getItemsWithAttr"]("signal", "buy")
    },
    sell() {
      return this.$store.getters["lab/watch/getItemsWithAttr"]("signal", "sell")
    }
  }
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";
div {
  margin: 1rem;
}
div h4 {
  margin: 1.25rem;
  font-weight: bold;
}
div hr {
  max-width: 15rem;
  margin: auto;
}
.todo {
  vertical-align: top;
  list-style: none;
  display: inline-block;
  padding: 1.25rem .75rem;
  margin: auto;
}
.todo li {
  color: $gray-1;
  font-weight: bold;
  padding: .75rem;
  min-width: 6rem;
}
.todo li {
  background: $gray-2;
}
.todo.buy li {
  color: lighten($primary, 10%);
}
.todo.sell li {
  color: lighten($secondary, 10%);
}
</style>
