<template>
  <base-container>
    <hr>
    <!--Select-->
    <b-form>
      <b-form-select
      :size="$mq === 'sm' ? 'sm' : 'md'"
      v-model="item.script_id"
      :options="scriptOptions"
      @change="onChange">
        <template v-slot:first>
          <b-form-select-option :value="null" disabled>
            Select script
          </b-form-select-option>
        </template>
      </b-form-select>
    </b-form>

    <!--Chart-->
    <div class="full-width">
      <!--simulationLineChart-->
      <simulation-line-chart
      v-if="data"
      :data="data"
      :width="null"
      :height="null"/>
      <!--No-data states-->
      <div v-else class="no-chart">
        <div class="no-chart-content">
          <!--Failed-->
          <h6 v-if="simulation && simulation.status === 'FAILURE'" variant="warning">
            Your simulation has failed :'( please verify your code.
          </h6>
          <!--Waiting for data-->
          <b-spinner v-else-if="simulation && !data" class="spinner" variant="primary" label="Progress"/>
          <!--Empty state-->
          <div v-else>
            <h6>No data to display yet. Watchlist scripts are run daily.</h6>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <!--Data vertical table-->
    <base-table-vertical :item="item"/>
    <hr>
    <!--Delete-->
    <base-delete-button
    :item="item"
    resourceType="watch"/>
  </base-container>
</template>

<script>
import BaseContainer from "@/components/BaseContainer.vue";
import SimulationLineChart from "@/components/SimulationLineChart.js";
import BaseTableVertical from "@/components/BaseTableVertical.vue";
import BaseDeleteButton from "@/components/BaseDeleteButton.vue";
import { mapGetters, mapState } from "vuex";

export default {
  name: "watchlist-table-details",
  components: {
    BaseContainer,
    SimulationLineChart,
    BaseTableVertical,
    BaseDeleteButton,
  },
  data() {
    return {
      data: null,
    };
  },
  props: {
    item: {
      type: Object,
      default: null,
    },
  },
  computed: {
    ...mapGetters("lab/script", { getScriptOptions: "getFormSelect" } ),
    ...mapGetters("lab/watch/watchSims", { getSimulation: "getItem" } ),
    ...mapState("lab/watch/wachSims", { simulations: "items" }),
    simulation() {
      return this.getSimulation(this.item.simulation_id);
    },
    scriptOptions() {
      return this.getScriptOptions("name");
    },
  },
  methods: {
    onChange() {
      this.$store.dispatch("lab/watch/updateItem", this.item);
    },
  },
  mounted() {
    let data = this.$store.dispatch("lab/watch/watchSims/charts/readDefault2", this.simulation);
    data.then(data => { console.log('DATA: ', data); this.data = data });
  },
}
</script>


<style lang="scss" scoped>
@import "src/custom.scss";
.full-width {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  @include media-breakpoint-up("sm") { // on larger screens
    margin: 0 2rem;
  }
}
.no-chart {
  background-color: $gray-2;
  width: 100%;
  padding-top: calc(100% / calc(8 / 7)); /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
  @include media-breakpoint-up("sm") { // on larger screens
    padding-top: calc(100% / calc(5 / 2));
  }
}
.no-chart-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 1rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.spinner {
  color: lighten($primary, 50%);
  @include media-breakpoint-up("sm") { // on larger screens
    width: 3rem;
    height: 3rem;
  }
}
</style>
