<template>
  <div id="app">
    <the-navbar v-if="isAuthenticated"/>
    <div class="content">
      <router-view/>
    </div>
    <the-footer class="footer"/>
    <snackbar/>
  </div>
</template>


<script>
import Snackbar from "@/components/Snackbar.vue";
import TheNavbar from "@/components/TheNavbar.vue";
import TheFooter from "@/components/TheFooter.vue";
import { mapGetters } from 'vuex';

export default {
  name: "app",
  components: {
    TheNavbar,
    TheFooter,
    Snackbar,
  },
  computed: {
    ...mapGetters('user', [ 'isAuthenticated' ])
  },
  created() {
    this.$store.dispatch('user/autoLogin');
  },
};
</script>


<style lang="scss">
@import "src/custom.scss";
html, body {
  height: 100%;
  background-color: $gray-2 !important;
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  flex-shrink: 0;
}
</style>
