/*Color variable overrides*/
$primary:                   rgba(20, 49, 40, 1);//#143128;
$secondary:                 #FF431A;

$gray-1:                    #FBFBFB;
$gray-2:                    #EDEDED;
$gray-3:                    #BEBEBE;
$gray-4:                    #0A0C0C;

:export {
  gray1:                $gray-1;
  gray2:                $gray-2;
  gray3:                $gray-3;
  gray4:                $gray-4;
  primaryD3:            darken($primary, 3%);
  primary:               $primary;
  primary10:             lighten($primary, 10%);
  primary20:             lighten($primary, 20%);
  primary30:             lighten($primary, 30%);
  primary40:             lighten($primary, 40%);
  primary50:             lighten($primary, 50%);
  primary60:             lighten($primary, 60%);
  primary70:             lighten($primary, 70%);
  primary80:             lighten($primary, 80%);
  primary90:             lighten($primary, 90%);
  secondary:             $secondary;
  secondary10:           lighten($secondary, 10%);
  secondary20:           lighten($secondary, 20%);
  secondary30:           lighten($secondary, 30%);
  secondary40:           lighten($secondary, 40%);
  secondary50:           lighten($secondary, 50%);
  secondary60:           lighten($secondary, 60%);
  secondary70:           lighten($secondary, 70%);
  secondary80:           lighten($secondary, 80%);
  secondary90:           lighten($secondary, 90%);
}

/*Font variable overrides*/
$font-family-base:              null !default;
$font-family-monospace:         null !default;
$font-family-sans-serif:        null !default;
$line-height-base:              1.2;
$enable-responsive-font-sizes:  true;
/*Border radius overrides*/
$border-radius:             99rem;
$border-radius-lg:          $border-radius;
$border-radius-sm:          $border-radius;
/*form-input & button shared variable overrides*/
$input-btn-padding-x:       1.2rem;
$input-btn-padding-y:       .5rem;
$input-btn-font-family:     $font-family-base;
$input-btn-font-size:       1rem;

$input-btn-padding-x-lg:    2.2rem;
$input-btn-padding-y-lg:    .75rem;
$input-btn-font-size-lg:    1.2rem;

$input-btn-padding-x-sm:    .8rem;
$input-btn-padding-y-sm:    .15rem;
$input-btn-font-size-sm:    .8rem;
/*Button variables overrides*/
$btn-border-width:          2px;
$btn-border-radius:         $border-radius;
$btn-border-radius-lg:      $border-radius-lg;
$btn-border-radius-sm:      $border-radius-sm;
$btn-focus-width:           0;
/*Form and form-input variable overries*/
$form-group-margin-bottom:  1.2rem;

$input-border-color:        $primary;

$input-border-radius:       $border-radius;
$input-border-radius-lg:    $border-radius-lg;
$input-border-radius-sm:    $border-radius-sm;

/*Table variable overries*/
$table-bg:                  $gray-1;

$table-border-width:        1px;
$table-border-color:        lighten($primary, 50%);

$table-hover-bg:            $gray-2;

/*Navbar variable overrides*/
$navbar-brand-font-size:    2rem;
$navbar-brand-padding-y:    1rem;
$navbar-brand-padding-x:    1rem;
$navbar-light-brand-color:  $primary;

$navbar-toggler-font-size:  .8rem;

$navbar-nav-link-padding-x: 2rem;

$navbar-padding-x:          2rem;
$navbar-padding-y:          .25rem;
$navbar-light-color:        $primary;
$navbar-light-hover-color:  $secondary;
$navbar-light-active-color: $secondary;

/*Modal variable overrides*/
$modal-content-border-radius:   1rem;
$modal-inner-padding:           1.5rem;

/*
@import 'node_modules/bootstrap/scss/bootstrap';
*/

/*Required Bootstrap packages*/
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
/*Optional Bootstrap packages*/
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/type";

/*Bootstrap-vue packages
Include variables and utilities first*/
@import "node_modules/bootstrap-vue/src/variables";
@import "node_modules/bootstrap-vue/src/utilities";
/*General styling needed for special form controls*/
@import "node_modules/bootstrap-vue/src/custom-controls";
/*Include custom SCSS for components*/
//@import "node_modules/bootstrap-vue/src/components/avatar/index";
//@import "node_modules/bootstrap-vue/src/components/calendar/index";
//@import "node_modules/bootstrap-vue/src/components/card/index";
//@import "node_modules/bootstrap-vue/src/components/dropdown/index";
@import "node_modules/bootstrap-vue/src/components/form-checkbox/index";
//@import "node_modules/bootstrap-vue/src/components/form-file/index";
@import "node_modules/bootstrap-vue/src/components/form-input/index";
//@import "node_modules/bootstrap-vue/src/components/form-radio/index";
//@import "node_modules/bootstrap-vue/src/components/form-spinbutton/index";
//@import "node_modules/bootstrap-vue/src/components/form-tags/index";
@import "node_modules/bootstrap-vue/src/components/input-group/index";
@import "node_modules/bootstrap-vue/src/components/modal/index";
@import "node_modules/bootstrap-vue/src/components/nav/index";
@import "node_modules/bootstrap-vue/src/components/navbar/index";
//@import "node_modules/bootstrap-vue/src/components/pagination/index";
//@import "node_modules/bootstrap-vue/src/components/pagination-nav/index";
//@import "node_modules/bootstrap-vue/src/components/popover/index";
//@import "node_modules/bootstrap-vue/src/components/sidebar/index";
@import "node_modules/bootstrap-vue/src/components/table/index";
//@import "node_modules/bootstrap-vue/src/components/time/index";
//@import "node_modules/bootstrap-vue/src/components/toast/index";
//@import "node_modules/bootstrap-vue/src/components/tooltip/index";

/*Tradr custom sass*/
/*Logo*/
$logo-font-size:            $font-size-base * 5 !default;
